@import 'src/_constant.scss';


.nav-header {
  background-color: $headerBackground;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  border-radius: 0.5em;
  
  .nav-logo {
    width: 2em;
    padding: 0.5em;
  }
  
  .nav-right {
    padding: 0.5em;
  }
  
  .nav-left {
    font-family: monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    align-self: center;
    p {
      padding-left: .5em;
    }
  }
}
