@import 'src/_constant.scss';


.prog-main {
  height: 20;
  width: 65%;
  background-color: #c1c1b8;
  border-radius: 10px;
  box-shadow: 5px 5px 9px 1px #888888;
}

.prog-filler {
  height: 100%;
  background-color: #FDDC01;
  border-radius: inherit;
  text-align: right;
}
