@import 'src/_constant.scss';

.budget-prog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 5 0 0 0;
  font-family: $titleFont;
  font-style: italic;
}

.weekly-graph {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(123, 187, 71, 0.555);
  margin-top: 4em;
}

.stats-btns {
  margin-top: 8em;
  width: 95%;
  height: 80px;
  display:flex;
  align-items: stretch;
  justify-content: space-between;
  
  button {
//     box-shadow: 0px 2px 9px 1px #888888;
//     border-style: none;
//     border-radius: 10px;
//     background-color: $titleBackground;
//     font-family: $btnFont;

    a:link { text-decoration: none; }
    a:visited { text-decoration: none; color: black; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

//     &:active {
//       transform: translateY(4px);
//     }
  }
}