@import 'src/_constant.scss';

.budget-prog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 5 0 0 0;
  font-family: $titleFont;
  font-style: italic;
}

.weekly-graph {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(123, 187, 71, 0.555);
  margin-top: 4em;
}

.pie-chart, .month-categ-chart, .day-chart {
  display: flex;
  justify-content: center;
  align-content: center;
}

.stats-btns {
  margin-top: 2em;
  width: 95%;
  height: 80px;
  display:flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  bottom: 5em;

  button {
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; color: black; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
  }
}

.chart-swap {
  padding-top: 3em;
}