// Colour Theme
$background: #E5E8ED;
$titleBackground: #9ACCE3;
$headerBackground: #6D89AE;
$btnColor: #51e2ca;

// Fonts
$titleFont: 'Orbitron', sans-serif;
$btnFont: monospace;


// screen size while demoing 385 X 740